.button {

    &--cart {
        text-transform: uppercase;
        border: 2px solid $color-border-grey-dark;
        font-weight: 700;
        font-size: 1.4rem;
        letter-spacing: 1.2px;
        padding: .6rem 2rem;
        transition: all .2s;

        &:hover {
            background-color: $color-border-grey-dark;
            color: $color-white;
            cursor: pointer;
        }
    }
}