.cart-box {
    display: flex;
    margin: 2rem;

    &__image {
        width: 7rem;
        height: 100%;
    }

    &__description {
        padding-left: 1rem;
        font-size: 1.2rem;

        & >* {
            padding-bottom: 1rem;
        }
    }
}