/* 
Colour Schemes:

Header background: #F6F6F7

Font colour:  #222222 and #888888

Required star *: #C90000

Border light grey: #CCCCCC

Border dark grey #222222 

*/


// COLORS

$color-header-background: #F6F6F7;

$color-font-dark: #222222;
$color-font-light: #888888;

$color-required-star: #C90000;

$color-border-grey-light: #CCCCCC;
$color-border-grey-dark: #222222;

$color-white: #FFFFFF;
$color-black: #000000;